In [1]:
# importing essential libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
# importing dataset
data=pd.read_csv('/content/drive/MyDrive/BTC/btc.csv')
data.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

In [3]:
# duplicate data as df
df=data.copy()

In [4]:
# creating date column
df['date'] = pd.to_datetime(df['Timestamp'],unit='s').dt.date
df.head()

    Timestamp  Open  High  ...  Volume_(Currency)  Weighted_Price        date
0  1325317920  4.39  4.39  ...                2.0            4.39  2011-12-31
1  1325317980   NaN   NaN  ...                NaN             NaN  2011-12-31
2  1325318040   NaN   NaN  ...                NaN             NaN  2011-12-31
3  1325318100   NaN   NaN  ...                NaN             NaN  2011-12-31
4  1325318160   NaN   NaN  ...                NaN             NaN  2011-12-31

[5 rows x 9 columns]

In [5]:
# grouping data
group = df.groupby('date')
real_price = group['Weighted_Price'].mean()

In [6]:
real_price

date
2011-12-31        4.471603
2012-01-01        4.806667
2012-01-02        5.000000
2012-01-03        5.252500
2012-01-04        5.208159
                  ...
2021-03-27    55193.357260
2021-03-28    55832.958824
2021-03-29    56913.993819
2021-03-30    58346.912268
2021-03-31    58764.349363
Name: Weighted_Price, Length: 3376, dtype: float64

In [7]:
# setting train and test data
prediction_days = 30
train= real_price[:len(real_price)-prediction_days]
test= real_price[len(real_price)-prediction_days:]

In [8]:
# scaling the data
training_set = train.values
training_set = np.reshape(training_set, (len(training_set), 1))
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
training_set = sc.fit_transform(training_set)

In [9]:
# initialising x_train and y_train
X_train = training_set[0:len(training_set)-1]
y_train = training_set[1:len(training_set)]

In [10]:
# reshaping in 3-D because our layers need like this
X_train = np.reshape(X_train, (len(X_train), 1,1))

In [11]:
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

# Initialising the RNN
regressor = Sequential()

# Adding the input layer and the LSTM layer
regressor.add(LSTM(units = 10, activation = 'relu', input_shape = (None, 1)))

# Adding the output layer
regressor.add(Dense(units = 1))

# Compiling the RNN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
regressor.fit(X_train, y_train, batch_size = 5, epochs = 100)

Epoch 1/100
669/669 [==============================] - 3s 2ms/step - loss: 0.0081
Epoch 2/100
669/669 [==============================] - 1s 2ms/step - loss: 0.0017
Epoch 3/100
669/669 [==============================] - 1s 2ms/step - loss: 1.5831e-04
Epoch 4/100
669/669 [==============================] - 1s 2ms/step - loss: 1.2200e-04
Epoch 5/100
669/669 [==============================] - 1s 2ms/step - loss: 1.0077e-04
Epoch 6/100
669/669 [==============================] - 1s 2ms/step - loss: 7.9630e-05
Epoch 7/100
669/669 [==============================] - 1s 2ms/step - loss: 6.6410e-05
Epoch 8/100
669/669 [==============================] - 1s 2ms/step - loss: 5.4137e-05
Epoch 9/100
669/669 [==============================] - 1s 2ms/step - loss: 4.9243e-05
Epoch 10/100
669/669 [==============================] - 1s 2ms/step - loss: 4.4535e-05
Epoch 11/100
669/669 [==============================] - 1s 2ms/step - loss: 4.3992e-05
Epoch 12/100
669/669 [==============================] - 1s 2ms/step - loss: 4.2180e-05
Epoch 13/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1861e-05
Epoch 14/100
669/669 [==============================] - 1s 2ms/step - loss: 4.4196e-05
Epoch 15/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1125e-05
Epoch 16/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9311e-05
Epoch 17/100
669/669 [==============================] - 1s 2ms/step - loss: 3.7312e-05
Epoch 18/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9564e-05
Epoch 19/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9763e-05
Epoch 20/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1125e-05
Epoch 21/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1782e-05
Epoch 22/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9100e-05
Epoch 23/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0022e-05
Epoch 24/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1255e-05
Epoch 25/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8744e-05
Epoch 26/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0781e-05
Epoch 27/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9697e-05
Epoch 28/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0543e-05
Epoch 29/100
669/669 [==============================] - 1s 2ms/step - loss: 3.7696e-05
Epoch 30/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0130e-05
Epoch 31/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0932e-05
Epoch 32/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8955e-05
Epoch 33/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9740e-05
Epoch 34/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0893e-05
Epoch 35/100
669/669 [==============================] - 1s 2ms/step - loss: 3.7686e-05
Epoch 36/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8859e-05
Epoch 37/100
669/669 [==============================] - 1s 2ms/step - loss: 4.2802e-05
Epoch 38/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9531e-05
Epoch 39/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8929e-05
Epoch 40/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0589e-05
Epoch 41/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0491e-05
Epoch 42/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0328e-05
Epoch 43/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1010e-05
Epoch 44/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9791e-05
Epoch 45/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8897e-05
Epoch 46/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0302e-05
Epoch 47/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9931e-05
Epoch 48/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0551e-05
Epoch 49/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1500e-05
Epoch 50/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0486e-05
Epoch 51/100
669/669 [==============================] - 1s 2ms/step - loss: 3.6697e-05
Epoch 52/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0022e-05
Epoch 53/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9224e-05
Epoch 54/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9976e-05
Epoch 55/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9351e-05
Epoch 56/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0821e-05
Epoch 57/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9677e-05
Epoch 58/100
669/669 [==============================] - 1s 2ms/step - loss: 4.2452e-05
Epoch 59/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8102e-05
Epoch 60/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0140e-05
Epoch 61/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1440e-05
Epoch 62/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0536e-05
Epoch 63/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9934e-05
Epoch 64/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1365e-05
Epoch 65/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9380e-05
Epoch 66/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9828e-05
Epoch 67/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9685e-05
Epoch 68/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9841e-05
Epoch 69/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9927e-05
Epoch 70/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0259e-05
Epoch 71/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9955e-05
Epoch 72/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9954e-05
Epoch 73/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0299e-05
Epoch 74/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9507e-05
Epoch 75/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0114e-05
Epoch 76/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8020e-05
Epoch 77/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0335e-05
Epoch 78/100
669/669 [==============================] - 1s 2ms/step - loss: 4.2102e-05
Epoch 79/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0881e-05
Epoch 80/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9349e-05
Epoch 81/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1165e-05
Epoch 82/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1035e-05
Epoch 83/100
669/669 [==============================] - 1s 2ms/step - loss: 3.6224e-05
Epoch 84/100
669/669 [==============================] - 1s 2ms/step - loss: 4.4647e-05
Epoch 85/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9078e-05
Epoch 86/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9248e-05
Epoch 87/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0495e-05
Epoch 88/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1317e-05
Epoch 89/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0976e-05
Epoch 90/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1451e-05
Epoch 91/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8508e-05
Epoch 92/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1083e-05
Epoch 93/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9637e-05
Epoch 94/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1271e-05
Epoch 95/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9930e-05
Epoch 96/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8661e-05
Epoch 97/100
669/669 [==============================] - 1s 2ms/step - loss: 4.0549e-05
Epoch 98/100
669/669 [==============================] - 1s 2ms/step - loss: 3.9651e-05
Epoch 99/100
669/669 [==============================] - 1s 2ms/step - loss: 3.8478e-05
Epoch 100/100
669/669 [==============================] - 1s 2ms/step - loss: 4.1616e-05

In [12]:
test[:10]

date
2021-03-02    48617.289321
2021-03-03    50429.449016
2021-03-04    49398.250399
2021-03-05    47717.643300
2021-03-06    48371.543538
2021-03-07    50218.216804
2021-03-08    50798.354212
2021-03-09    53980.847262
2021-03-10    55375.366241
2021-03-11    56272.596972
Name: Weighted_Price, dtype: float64

In [13]:
# Making the predictions
test_set = test.values
inputs = np.reshape(test_set, (len(test_set), 1))
inputs = sc.transform(inputs)
inputs = np.reshape(inputs, (len(inputs), 1, 1))
predicted_BTC_price = regressor.predict(inputs)

In [14]:
# converting to normal numbers
predicted_BTC_price = sc.inverse_transform(predicted_BTC_price)

In [17]:
predicted_BTC_price.shape

(30, 1)

In [18]:
pred=pd.DataFrame(predicted_BTC_price)

In [19]:
pred.head()

              0
0  49084.726562
1  50819.332031
2  49832.859375
3  48221.816406
4  48849.128906

In [34]:
test_set
final=pd.DataFrame({'actual':test_set,'date':test.index})
final

          actual        date
0   48617.289321  2021-03-02
1   50429.449016  2021-03-03
2   49398.250399  2021-03-04
3   47717.643300  2021-03-05
4   48371.543538  2021-03-06
5   50218.216804  2021-03-07
6   50798.354212  2021-03-08
7   53980.847262  2021-03-09
8   55375.366241  2021-03-10
9   56272.596972  2021-03-11
10  56826.560033  2021-03-12
11  58802.601568  2021-03-13
12  60455.844831  2021-03-14
13  57507.734509  2021-03-15
14  55339.804792  2021-03-16
15  56158.017320  2021-03-17
16  58472.117322  2021-03-18
17  58283.547994  2021-03-19
18  58779.769387  2021-03-20
19  57312.598536  2021-03-21
20  56787.148422  2021-03-22
21  54703.387740  2021-03-23
22  55123.993855  2021-03-24
23  52121.684110  2021-03-25
24  53241.037489  2021-03-26
25  55193.357260  2021-03-27
26  55832.958824  2021-03-28
27  56913.993819  2021-03-29
28  58346.912268  2021-03-30
29  58764.349363  2021-03-31

In [35]:
pred

               0
0   49084.726562
1   50819.332031
2   49832.859375
3   48221.816406
4   48849.128906
5   50617.398438
6   51171.843750
7   54204.066406
8   55527.488281
9   56377.207031
10  56901.125000
11  58765.449219
12  60317.656250
13  57544.597656
14  55493.781250
15  56268.769531
16  58454.152344
17  58276.445312
18  58743.964844
19  57360.351562
20  56863.863281
21  54890.187500
22  55289.171875
23  52434.656250
24  53500.656250
25  55354.949219
26  55961.023438
27  56983.761719
28  58336.167969
29  58729.441406

In [ ]:

final=pd.merge(final,pred,on=final.index)

In [39]:
final.head()

   key_0        actual        date             0
0      0  48617.289321  2021-03-02  49084.726562
1      1  50429.449016  2021-03-03  50819.332031
2      2  49398.250399  2021-03-04  49832.859375
3      3  47717.643300  2021-03-05  48221.816406
4      4  48371.543538  2021-03-06  48849.128906

In [40]:
final=final.drop(['key_0'],axis=1)
final = final.rename(columns={0: 'predicted'})
final

          actual        date     predicted
0   48617.289321  2021-03-02  49084.726562
1   50429.449016  2021-03-03  50819.332031
2   49398.250399  2021-03-04  49832.859375
3   47717.643300  2021-03-05  48221.816406
4   48371.543538  2021-03-06  48849.128906
5   50218.216804  2021-03-07  50617.398438
6   50798.354212  2021-03-08  51171.843750
7   53980.847262  2021-03-09  54204.066406
8   55375.366241  2021-03-10  55527.488281
9   56272.596972  2021-03-11  56377.207031
10  56826.560033  2021-03-12  56901.125000
11  58802.601568  2021-03-13  58765.449219
12  60455.844831  2021-03-14  60317.656250
13  57507.734509  2021-03-15  57544.597656
14  55339.804792  2021-03-16  55493.781250
15  56158.017320  2021-03-17  56268.769531
16  58472.117322  2021-03-18  58454.152344
17  58283.547994  2021-03-19  58276.445312
18  58779.769387  2021-03-20  58743.964844
19  57312.598536  2021-03-21  57360.351562
20  56787.148422  2021-03-22  56863.863281
21  54703.387740  2021-03-23  54890.187500
22  55123.993855  2021-03-24  55289.171875
23  52121.684110  2021-03-25  52434.656250
24  53241.037489  2021-03-26  53500.656250
25  55193.357260  2021-03-27  55354.949219
26  55832.958824  2021-03-28  55961.023438
27  56913.993819  2021-03-29  56983.761719
28  58346.912268  2021-03-30  58336.167969
29  58764.349363  2021-03-31  58729.441406

In [55]:
import plotly.express as px
import plotly.graph_objects as go

# fig=px.line(final,x='date',y='predicted')
# fig.add_scatter(x=final['date'], y=final['actual'])
# fig.show()

fig = go.Figure()

fig.add_trace(go.Scatter(
    x=final.date,
    y=final.predicted,
    name="Predicted"       # this sets its legend entry
))


fig.add_trace(go.Scatter(
    x=final.date,
    y=final.actual,
    name="Original"
))

fig.update_layout(
    title="Plot Title",
    xaxis_title="Date",
    yaxis_title="Price",
    )


fig.show()